<footer class="py-5">
  <p class="text-center text-sm text-slate-500">
    Copyright 춸 {new Date().getFullYear()} Tom치코 Sl치ma. V코echna pr치va vyhrazena.
  </p>
  <!--
    Can we ask you a favor 游똂
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    UX & UI designer and front-end developer 仇벒잺 <a
      href="https://slamatomas.cz"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      slamatomas.cz
    </a>
  </p>
</footer>
